<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/crowdfunding</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="neu.edu.entity.Funding" />
        <mapping class="neu.edu.entity.Reward" />
        <mapping class="neu.edu.entity.Servicebid" />
        <mapping class="neu.edu.entity.Servicecompletion" />
        <mapping class="neu.edu.entity.Category" />
        <mapping class="neu.edu.entity.Testimonial" />
        <mapping class="neu.edu.entity.Role" />
        <mapping class="neu.edu.entity.Project" />
        <mapping class="neu.edu.entity.Location" />
        <mapping class="neu.edu.entity.User" />
        <mapping class="neu.edu.entity.Service" />
        <mapping class="neu.edu.entity.Startup" />
    </session-factory>
</hibernate-configuration>
